<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>acm</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>MediasurfaceController</servlet-name>
    <servlet-class>com.slepeweb.sandbox.acm.mvc.AcmControllerServlet</servlet-class>
    <init-param>
      <param-name>default-binary-servlet-name</param-name>
      <param-value>Stream</param-value>
    </init-param>
    <init-param>
      <param-name>bypass-url-stem</param-name>
      <param-value>/model/schemas/,/model/wsdl/,/static/,/resources/,/404/,/favicon.ico</param-value>
    </init-param>
    <init-param>
      <param-name>authenticate-realm</param-name>
      <param-value>Mediasurface</param-value>
    </init-param>
    <init-param>
      <param-name>template-separator</param-name>
      <param-value>/</param-value>
    </init-param>
    <init-param>
      <param-name>template-extension</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <param-name>template-group-separator</param-name>
      <param-value>#</param-value>
    </init-param>
    <init-param>
      <param-name>logging</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>forward-to-default-if-not-found</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>default-servlet-name</param-name>
      <param-value>default</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Stream</servlet-name>
    <servlet-class>com.mediasurface.client.servlets.StreamServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <context-param>
    <param-name>org.apache.tiles.factory.TilesContainerFactory.MUTABLE</param-name>
    <param-value>false</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>net.sf.ehcache.constructs.web.ShutdownListener</listener-class>
  </listener>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>acm</servlet-name>
    <url-pattern>/WEB-INF/templates/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MediasurfaceController</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>