extends layout

block content
  #heading
    h1.lookup Password Manager
    if user
      div#progressbar
      p#logout
        a(href="/users/logout")
          i(class="fas fa-sign-out-alt fa-2x" title="Logout")

  #instructions
    p#instructionA Start typing the company name, select one of the available options, then click on the Lookup button
    p#instructionB(class="hide") Click <span class="reset"><i class="fas fa-undo-alt"></i></span> to choose another company
  
  table#main-table
    tbody
      tr.field
        td.label Company
        td
          input(id="company", type="text")
    
    tbody(id="submit-button")
      tr
        td
          button(type="button" id="lookup") Lookup
    
    tbody(id="result", class="hide")
      tr
        td.label Login
        td
          input(id="username", type="text")
      tr     
        td.label Password
        td
          input(id="password", type="text")
      tr      
        td.label Chunked
        td
          input(id="password2", type="text")
      tr
        td.label Notes
        td
          textarea(id="notes" rows="4")

  #flash
    p.red &nbsp;
    