extends layout

block content
	h1 Password Manager
	h3 Upload data
	p Please identify the .xslx spreadsheet containing your password data.
	
	if err
		p(class="red")
			strong= err
  
	form(action="/upload/action", method="post", enctype="multipart/form-data")
		table#main-table
			tr
				td.label File
				td
					input(type="file" name="xslx")
		
		input(type="submit", value="Submit")
