<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
	version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
  <display-name>Slepeweb CMS</display-name>
  
  <!-- Filter to apply cache times to static resources -->
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.slepeweb.cms.filter.LoginFilter</filter-class>
    <init-param>
      <param-name>loginPath</param-name>
      <param-value>/page/login</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

	<!-- For Spring MVC -->
  <servlet>
    <servlet-name>slepeweb-cms</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  	
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

	<!-- Loads Spring Security config file -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/database-beans.xml
		</param-value>
	</context-param>
 
	<!-- For Tiles -->
  <context-param>
    <param-name>org.apache.tiles.factory.TilesContainerFactory.MUTABLE</param-name>
    <param-value>false</param-value>
  </context-param>
  
  <servlet-mapping>
    <servlet-name>slepeweb-cms</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
  
</web-app>