:root {
  --error-color: #ce0202;
  --heading-color: navy;
  --user-input-color: blue;
}

body {
  font: 16px "Century Gothic", Futura, sans-serif;
  width: 200mm;
  /*margin: auto;*/
}

h1, h2, h3 {
  color: var(--heading-color);
}

.emphasize {
  color: var(--user-input-color);
  font-size: 1.1em;
  font-weight: bold;
}

div.heading {
  color: var(--heading-color);
  text-align: center;
}

div.spacer {
  margin-top: 1em;
}

div.child-details {
  display: grid;
  grid-template-columns: 12% 55% 10% 23%;
}

table td {
  padding: 3px;
  font-weight: bold;
}

table td:nth-child(2) {
  color: var(--user-input-color);
}

span.total-fee {
  font-weight: bold;
  font-size: 1.3em;
  color: var(--heading-color);
}
