.smaller {
	font-size: 0.8em;
}

i#open-editor {
	cursor: pointer;
}

div#session-expiry-warning {
	display: block;
	position: fixed;
	z-index: 100;
	top: 30%;
	left: 30%;
	width: 30%;
	border: 6px solid blue;
	border-style: outset;
	background-color: lightblue;
	padding: 2em;
}

div#session-expiry-warning.hidden {
	display: none;
}