/***************************
****************************
Layout Styles
****************************
***************************/

@use 'vars';
@use 'mixins';

/* Change all elements to use border-box */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Content Container*/
.container {
  padding-right: vars.$std-container-padding;
  padding-left: vars.$std-container-padding;
  margin-right: auto;
  margin-left: auto;
  max-width: vars.$max-page-width;
}

.primary-col {
  @include mixins.std-container-padding;
  
 	@include mixins.small-only {
  	margin-bottom: 4em; 
 	}
}

.anchor {
	position: relative;
}

@media (min-width: 48em) {
  .pull-right-sm {
    float:right;
  }
  
  .hide-sm {
  	display: none;
  }
}

@media only screen and (max-width : 47.9375em) {
  .remove-gutter-xs {
    padding-left: 0px;
    padding-right: 0px;
  }
}
