	@use 'mixins';
	@use 'vars';
	@use 'sass:color';
	
	body {
		@include mixins.extra-small-only {
			min-width: 320px;
		}
	}

	body, input, select, textarea {
		color: vars.$color-fg;
		font-family: vars.$font-family;
		font-size: 16px;
		font-weight: vars.$font-weight;
		line-height: 1.65em;
		
		@include mixins.extra-small-only {
			font-size: 12pt;
		}
	}

	a {
		color: vars.$color-accent-bg;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
		
		i.fa {
			color: vars.$color-button;
		}
	}

	strong, b {
		color: vars.$color-fg-bold;
		font-weight: vars.$font-weight-bold;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 vars.$size-element-margin 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: vars.$color-fg-bold;
		font-weight: vars.$font-weight-bold;
		line-height: 1em;
		margin: 0 0 (vars.$size-element-margin * 0.5) 0;

		a {
			color: inherit;
			text-decoration: none;
		}
	}

	h2 {
		font-size: 1.75em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 1.35em;
		line-height: 1.5em;
	}

	h4 {
		font-size: 1.1em;
		line-height: 1.5em;
	}

	h5 {
		font-size: 0.9em;
		line-height: 1.5em;
	}

	h6 {
		font-size: 0.7em;
		line-height: 1.5em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	hr {
		border: 0;
		border-bottom: solid vars.$size-border-width vars.$color-border;

		// This is the *only* instance where we need to rely on margin collapse.
		margin: vars.$size-element-margin 0;

		&.major {
			margin: (vars.$size-element-margin * 1.5) 0;
		}
	}

	blockquote {
		border-left: solid (vars.$size-border-width * 4) vars.$color-border;
		font-style: italic;
		margin: 0 0 vars.$size-element-margin 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		background: vars.$color-border-bg;
		border-radius: vars.$size-border-radius;
		border: solid vars.$size-border-width vars.$color-border;
		font-family: vars.$font-family-fixed;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: vars.$font-family-fixed;
		font-size: 0.9em;
		margin: 0 0 vars.$size-element-margin 0;

		code {
			display: block;
			line-height: 1.75em;
			padding: 1em 1.5em;
			overflow-x: auto;
		}
	}

	header {
		background-color: #ffddb3;
		line-height: 1.0em;
		
		p {
			color: vars.$color-fg-light;
			position: relative;
			margin: 0 0 (vars.$size-element-margin * 0.75) 0;
		}
		
		h2 + p {
			font-size: 1.25em;
			margin-top: (vars.$size-element-margin * -0.5);
			line-height: 1.5em;
		}

		h3 + p {
			font-size: 1.1em;
			margin-top: (vars.$size-element-margin * -0.4);
			line-height: 1.5em;
		}

		h4 + p,
		h5 + p,
		h6 + p {
			font-size: 0.9em;
			margin-top: (vars.$size-element-margin * -0.3);
			line-height: 1.5em;
		}
	}

	form {
		margin: 0 0 vars.$size-element-margin 0;
	}

	label {
		color: vars.$color-fg-bold;
		display: block;
		/*font-size: 0.9em;*/
		font-weight: vars.$font-weight-bold;
		/*margin: 0 0 (vars.$size-element-margin * 0.5) 0;*/
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		@include mixins.vendor-property('appearance', 'none');
		background: vars.$color-border-bg;
		border-radius: vars.$size-border-radius;
		border: none;
		border: solid vars.$size-border-width vars.$color-border;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;

		&:invalid {
			box-shadow: none;
		}

		&:focus {
			border-color: vars.$color-accent-bg;
			box-shadow: 0 0 0 vars.$size-border-width vars.$color-accent-bg;
		}
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: vars.$size-element-height;
		
		&.inline {
			display: inline-block;
			width: 90%;
		}
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		/*@include vendor-property('appearance', 'none');
		display: block;
		float: left;
		margin-right: -2em;*/
		opacity: 1.0;
		width: 1em;
		z-index: -1;
	}

	::-webkit-input-placeholder {
		color: vars.$color-fg-light !important;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: vars.$color-fg-light !important;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: vars.$color-fg-light !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: vars.$color-fg-light !important;
		opacity: 1.0;
	}

	.formerize-placeholder {
		color: vars.$color-fg-light !important;
		opacity: 1.0;
	}

	.icon {
		@include mixins.icon;
		border-bottom: none;
		position: relative;

		> .label {
			display: none;
		}
	}

	.image {
		border-radius: vars.$size-border-radius;
		border: 0;
		display: inline-block;
		position: relative;

		img {
			border-radius: vars.$size-border-radius;
			display: block;
		}

		&.left {
			float: left;
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		&.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

		&.left,
		&.right {
			max-width: 40%;

			img {
				width: 100%;
			}
		}

		&.fit {
			display: block;
			margin: 0 0 vars.$size-element-margin 0;
			width: 100%;

			img {
				width: 100%;
			}
		}
	}

/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 vars.$size-element-margin 0;
		width: 100%;

		tbody {
			tr {
				border: solid vars.$size-border-width vars.$color-border;
				border-left: 0;
				border-right: 0;

				&:nth-child(2n + 1) {
					background-color: vars.$color-border2-bg;
				}
				
	  		&.highlighted {
	  			background-color: yellow;
	  		}
  		
			}
		}

		td {
			padding: 0.3em;
  		vertical-align: top;
  		
  		&.menu-icon {
  			width: 1.5em;
  		}
		}

		th {
			color: vars.$color-fg-bold;
			font-size: 0.8em;
			font-weight: vars.$font-weight-bold;
			padding: 0 0.75em 0 0.75em;
			text-align: left;
			/*width: 25%;*/
		}

		thead {
			border-bottom: solid (vars.$size-border-width * 2) vars.$color-border;
			background-color: #afdfdf;
		}

		tfoot {
			border-top: solid (vars.$size-border-width * 2) vars.$color-border;
		}

		&.alt {
			border-collapse: separate;

			tbody {
				tr {
					td {
						border: solid vars.$size-border-width vars.$color-border;
						border-left-width: 0;
						border-top-width: 0;

						&:first-child {
							border-left-width: vars.$size-border-width;
						}
					}

					&:first-child {
						td {
							border-top-width: vars.$size-border-width;
						}
					}
				}
			}

			thead {
				border-bottom: 0;
			}

			tfoot {
				border-top: 0;
			}
		}
	}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		@include mixins.vendor-property('appearance', 'none');
		@include mixins.vendor-property('transition', 'background-color #{vars.$duration-transition} ease-in-out, color #{vars.$duration-transition} ease-in-out');
		background-color: vars.$color-accent2-bg;
		border-radius: vars.$size-border-radius;
		border: 0;
		color: vars.$color-accent2-fg-bold !important;
		cursor: pointer;
		display: inline-block;
		font-weight: vars.$font-weight-bold;
		height: 2.85em;
		line-height: 2.95em;
		padding: 0 1.5em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;

		&:hover {
			background-color: color.adjust(vars.$color-accent2-bg, $lightness: 5%);
		}

		&:active {
			background-color: color.adjust(vars.$color-accent2-bg, $lightness: -5%);
		}
		
		&.spacer {
			margin-top: 2em;
		}

		&.icon {
			padding-left: 1.35em;

			&:before {
				margin-right: 0.5em;
			}
		}

		&.fit {
			display: block;
			margin: 0 0 (vars.$size-element-margin * 0.5) 0;
			width: 100%;
		}

		&.small {
			font-size: 0.8em;
		}

		&.big {
			font-size: 1.35em;
		}

		&.alt {
			background-color: transparent;
			box-shadow: inset 0 0 0 (vars.$size-border-width * 2) vars.$color-border;
			color: vars.$color-fg-bold !important;

			&:hover {
				background-color: vars.$color-border-bg;
			}

			&:active {
				background-color: vars.$color-border2-bg;
			}

			&.icon {
				&:before {
					color: vars.$color-fg-light;
				}
			}
			
			@include mixins.extra-small-only {
				padding: 0;
			}
		}

		&.special {
			/*background-color: vars.$color-accent-bg;*/
			background-color: vars.$color-button;
			color: vars.$color-accent-fg-bold !important;

			&:hover {
				background-color: color.adjust(vars.$color-button, $lightness: 10%);
			}

			&:active {
				background-color: color.adjust(vars.$color-accent-bg, $lightness: -10%);
			}
		}

		&.disabled,
		&:disabled {
			background-color: vars.$color-fg !important;
			box-shadow: inset 0 -0.15em 0 0 rgba(0,0,0,0.15);
			color: vars.$color-bg !important;
			cursor: default;
			opacity: 0.25;
		}
	}

/* Main */

	#main-wrapper {
		background: #fff;
		padding: 2em 0 2em 0;
	}
	
	#main .container {
		padding: 40px 0px;
	}

/* Footer */

#header-wrapper {
	padding-left: 0em;
	padding-right: 0em;
}

#footer-wrapper {
	padding: 1em 0;
	box-shadow: inset 0px 10px 60px 0px rgba(0,0,0,0.15);
}

#copyright {
	text-align: center;
	line-height: 1.5em;
	font-size: 0.9em;
	color: #808080;
}

div.dashboard-group {
	margin-bottom: 1em;
	border: 1px solid black;
	
	&.current {
		background-color: #fdffdb;
	}
	
	&.savings {
		background-color: #e3fafc;
	}
	
	&.credit {
		background-color: #ffe8e8;
	}
	
	&.pension {
		background-color: #e0ffe7;
	}
	
	&.summary {
		background-color: #fff3e8;
	}
			
	table {
		margin-bottom: 0;		
		td.amount, td.type {
			width: 10%;
		}
		
		h3 {
			margin-bottom: 0;
		}
	}			
}

#trn-form tr {
	td:first-child {
		width: 130px;
	}
	
	input[name="amount"] {
		width: 130px;
	}
}

.pager {
	margin-right: 1em;
	&.selected {
		font-size: 1.5em;
		font-weight: bold;
	}
	&.arrow {
		font-size: 0.8em;	
		&.left {
			margin-right: 2em;
		}
		&.right {
			margin-left: 2em;
		}
	}
}

#account-selector {
	width: 20em;
	font-size: 1.5em;
	font-weight: bold;
}

.scale_3-2 {
	font-size: 1.5em;
}

.inline-block {
	display: inline-block;
}

.currency {
	font-family: "Courier New", Courier, monospace;
	text-align: right;
}

#menu-action-dialog, #user-menu {
	width: 200px;
	background-color: #ccc;
	visibility: hidden;
	
	@include mixins.vendor-property("box-shadow", "5px 5px 2px grey");
	display: block;
	float: none;
	z-index: 1;
	
	ul {
		list-style: none;
	}
	
	.menu-close {
		float: right;
		margin-right: 5px;
	}
}

#user-menu {
	width: 150px;
	ul {
		margin-left: -20px;
	}
}

#user-welcome {
	cursor: pointer;
	margin-right: 0.5em;
	margin-top: 1.0em;
}

#navigation {
	text-decoration: none;
	list-style: none;
	display: inline-block;
	padding-left: 0.5em;
	
	li {
		display: inline-block;
		margin-right: 2em;
	}
}

#year-selector {
	width: 6em;
	margin-right: 2em;
}

.flash {
	margin-left: 3em;
	background-color: lightgrey;
	border: 2px solid black;
	border-radius: 5px;
	padding: 0.5em;
	
	&.success {
		color: green;
	}
	&.failure {
		color: red;	
	}
}

#delete-button {
	background-color: red;
	float: right;
}

#cancel-button {
	background-color: #54937f;
}

span.flash {
	font-size: smaller;
}

.right {
	float: right; 
}

.opaque50 {
	opacity: 0.5;
}

.radio-horiz {
	margin-right: 3em;
}

#multi-category-groupings, #year-ranges, #transaction-form {
	.width15 {
		width: 15%;
	}
	
	.width20 {
		width: 20%;
	}
	
	.width25 {
		width: 25%;
	}
	
	.width50 {
		width: 50%;
	}
}

.trash-category-cell {
	vertical-align: bottom;
}

.add-category-button {
	margin-top: 1.0em;
}

input[type="submit"] {
	margin-top: 1.0em;
}
	
span {
	&.debit-amount {
		color: red;
	}
	
	.fa-info-circle {
		color: #645e55;	
	}
}

tr.category-list, tr.category-params {
	div.hidden, span.hidden {
		display: none;
	}

	div.invisible, span.invisible {
		visibility: hidden;
	}

	.arrow {
		width: 3%;
		display: inline-block;	
	}
	
	.category, .sub-category {
		width: 20%;
		display: inline-block;
		&.wider {
			width: 30%;
		}
	}

	.memo {
		width: 30%;
		display: inline-block;
	}

	.amount {
		width: 12%;
		display: inline-block;
	}
	
	.logic {
		width: 15%;
		display: inline-block;
	}
}

tr.category-list.invisible {
	display: none;
}

div.category-list-heading {
	color: vars.$color-accent-bg;
}

div.chart-form-buttons {
	margin-top: 2em;
}
