/* Add Component Tool */
#ps_ui_container .ps_select_component_dialog {
	height: 318px;
}

#ps_ui_container .ps_select_component_dialog .scroll_parent {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 16px;
	width: 120px;
}

#ps_ui_container .ps_select_component_dialog .scroll_parent .ps_category_list {
	bottom: auto
}

#ps_ui_container .ps_select_component_dialog .ps_category_list, #ps_ui_container .ps_select_component_dialog .scroll_parent {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 120px;
	z-index: 60;
}

#ps_ui_container .ps_select_component_dialog .ps_category_list .ps_category_list_item {
	width: 83px;
	text-align: left;
	background-repeat: no-repeat;
	background-position: center center;
	padding-left: 28px;
	font-weight: bold; font-size: 9pt;
	z-index: 100;
	line-height: 9px;
	position: relative;
	margin: 4px;
	line-height: 28px;
	height: 28px;
}

#ps_ui_container .ps_select_component_dialog .ps_category_list .ps_category_list_item.ps_button_with_icon .ps_button_icon {
	left: 4px; top: 3px; position: absolute; width: 20px; height: 20px;
}
#ps_ui_container .ps_select_component_dialog .ps_category_list .ps_category_list_item.ps_button_selected .ps_button_icon,
#ps_ui_container .ps_select_component_dialog .ps_category_list .ps_category_list_item.ps_button_on_mouse_over .ps_button_icon {
	top: 2px; left: 3px;
}

#ps_ui_container .ps_select_component_dialog .ps_category_list .ps_category_list_item.ps_button_selected,
#ps_ui_container .ps_select_component_dialog .ps_category_list .ps_category_list_item.ps_button_on_mouse_over {
	padding-left: 27px;
	height: 26px;
	line-height: 26px;
	border: 1px solid #859EBF;
}

#ps_ui_container .ps_select_component_dialog .ps_category_list .ps_button_selected {
  background-image: url("../../../images/ui/themes/blue/category_list_item_selected_background.png");
}

#ps_ui_container .ps_select_component_dialog .ps_category_list .ps_category_list_item.ps_button_on_mouse_over {
	background-image: url("../../../images/ui/themes/blue/category_list_item_hover_background.png");
}

#ps_ui_container .ps_select_component_dialog .ps_category_header {
    font-family: Segoe UI, tahoma; font-weight: bold; font-size: 9pt;
    color: black;
    text-shadow:1px 1px 1px #D5D5D5;
    padding: 2px;
    border-bottom: 1px dashed #92A3C0;
    position: relative;
    height: 37px;
    background-color: white;
}

#ps_ui_container .ps_select_component_dialog .ps_category_header.ps_header_toggled {
	background-position: bottom;
}

#ps_ui_container .ps_select_component_dialog .ps_category_header .ps_button_label {
	position: absolute;
	left: 10px; bottom: 7px;
	display: block;
	background: url("../../../images/ui/select_component/category_header_closed.png") no-repeat;
	background-position: center left;
	padding-left: 17px;
	
}

#ps_ui_container .ps_select_component_dialog .ps_category_header.ps_header_toggled .ps_button_label {
	background-image: url("../../../images/ui/select_component/category_header_open.png");
}

#ps_ui_container .ps_select_component_dialog .ps_component_filter {
	position: absolute;
	left: 0; right: 0; top: 0;
	height: 30px;
}

#ps_ui_container .ps_select_component_dialog .ps_component_list {
	-webkit-box-shadow: #AAA 0px 0px 8px;
	border: 1px solid #849DBD;
	position: absolute;
	left: 121px;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0 0 0 20px;
	overflow: hidden;
	z-index: 50;
	margin: 10px;
}

#ps_ui_container .ps_select_component_dialog .ps_filter_input {
	min-width: 339px; /* IE 7/8 Workaround */
}
