@charset "UTF-8";
@media screen and (max-width:400px) {
  @-ms-viewport{
    width: device-width;
  }
}

body, input, select, textarea {
  color: #292929;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: normal;
  line-height: 1.65em;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #666;
  font-weight: bold;
  line-height: 1em;
  margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1.75em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.35em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.1em;
  line-height: 1.5em;
}

h5 {
  font-size: 0.9em;
  line-height: 1.5em;
}

h6 {
  font-size: 0.7em;
  line-height: 1.5em;
}

hr {
  border: 0;
  border-bottom: solid 1px rgba(144, 144, 144, 0.25);
  margin: 2em 0;
}

ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em;
}

ol li {
  padding-left: 0.25em;
}

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

table {
  margin: 0 0 2em 0;
  width: 100%;
}

table tbody tr {
  border: solid 1px rgba(144, 144, 144, 0.25);
  border-left: 0;
  border-right: 0;
}

table td {
  padding: 0.3em;
  vertical-align: middle;
}

table th {
  color: #666;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0 0 0 0.5em;
  text-align: left;
}

table thead {
  border-bottom: solid 2px rgba(144, 144, 144, 0.25);
}

table tfoot {
  border-top: solid 2px rgba(144, 144, 144, 0.25);
}

#heading {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
}

p#logout {
	text-align: right;
}

table#main-table td:nth-child(2) {
	background-color: #ccc;
}

table#main-table.highlight td:nth-child(2) {
	background-color: pink;
}

table#main-table td.label {
	width: 20%;
	font-weight: bold;
	text-align: right;
}

table#main-table input, table#main-table textarea {
	font-family: courier, monospace;
	width: 95%;
}

.red {
  color: red;
}

.hide {
	display: none;
}

div#flash p {
	color: red;
	font-weight: bold;
}

body {
	margin: auto;
	padding: 12px;
}

span.reset {
	margin: 0 0.4em 0 0.4em;
	cursor: pointer;
}

button#lookup {
	background-color: #6eac2c;
	border: 1px solid #acdd4a;
	border-radius: 6px;
	color: #fff;
	padding: 6px;
	margin-top: 1.5em;
	cursor: pointer;
}

div#main-wrapper {
	width: 100%;
	margin: auto;
}	

div#instructions {
	height: 3em;
	line-height: 1.4em;
	padding-bottom: 1.5em;
	
}

@media (min-width: 600px) {
	div#main-wrapper {
		width: 600px;
	}	
}