div#user-update-header {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

div#user-update-header p {
	justify-self: right;
}


div.user-update-msg {
	color: green;
	width: 100%;
	border: 2px solid green;
	font-size: 1.5em;
	padding: 0 1em 0 1em;
}

div.user-update-msg.hidden {
	display: none;
}

div.user-update-msg.error {
	color: purple;
	border: 2px solid purple;
	padding: 1em;
	width: 90%;
}
	
div.forgot-password, div.password-reset {
	border: 2px solid red; 
	padding: 2em; 
	background: #f7e2e6;
}

