body {
	font-size: 12px;
	font-family: Verdana, Arial, sans-serif;
}

/* Form elements */

label {
	float: left;
	width: 150px;
}

input {
	width: 400px;
}

input[disabled="disabled"] {
	background-color: #d8d8d8;
	color: #909090;
}

input[type="checkbox"], input[type="radio"] {
	width: auto;
}

input[type="datetime-local"] {
	width: 220px;
}

form div {
	margin-top: 6px;
	clear: both;
}

/* Compoundable styles */

.pass {
	color: green;
}

.fail {
	color: red;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.inline {
	display: inline-block;
}

.hide {
	display: none;
}

.spacer10 {
	margin-top: 10px;
}

.spacer20 {
	margin-top: 20px;
}

.left-margin10 {
	margin-left: 10px;
}

.left-margin20 {
	margin-left: 20px;
}

.top-align {
	vertical-align: top;
}

.underline {
	text-decoration: underline;
}

.red {
	color: red;
}

.green {
	color: green;
}

#login .heading {
	font-weight: bold;
	text-align: left;
}

#login label {
	width: 100px;
}

#login input {
	width: 150px;
}

#login td {
	padding: 0px 10px;
}

#login th {
	padding: 0px 10px;
	font-weight: bold;
	text-align: left;
}

#login .button {
	margin-left: 130px;
	width: 100px;
}

#site-selector {
	margin-left: 50px;
}

#trash-button {
	background-color: red;
	float: right;
}

/* Link tab: to identify link targets  */

#linknav {
		margin-left: 100px;
}

#addlinkdiv {
	float: left;
	visibility: hidden;
}

#addlinkdiv input {
	width: 60px;
}

#addlinkdiv label {
	width: 100px;
}

#savelinks-button {
/* 	visibility: hidden; */
	color: green;
	float: right;
}

#link-confirm {
	visibility: hidden;
}

.remove-link {
	position: relative;
	bottom: 5px;
	color: red;
}

#sortable-links { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%; 
}

#sortable-links li { 
	margin: 0 3px 3px 3px; 
	padding: 0.4em; 
	padding-left: 1.5em; 
/* 	font-size: 1.4em;  */
	height: 16px; 
}

#sortable-links li span { 
	position: absolute; 
	margin-left: -1.3em; 
}

/* Main page elements  */

#item-editor {
	float:left;
	margin-left: 10px;
}

#leftnav {
	float:left;
	width: 300px;
}

#main-wrapper {
	position: relative;
}

#footer-wrapper {
	clear: both;
}

h1.main-heading {
	margin-bottom: 6px;
}

p.main-heading {
	margin-top: 0px;
}

#status-block {
	margin-left: 3em;
	font-size: 1.3em;
	/*font-weight: bold;*/
	text-decoration: underline;
}
