body {
	font-size: 12px;
	font-family: Verdana, Arial, sans-serif;
}

/* Special treatment for shortcut items in fancytree */
span.fancytree-node.shortcut > span.fancytree-icon {
	background-position: -64px -160px;
}
span.fancytree-node.shortcut > span.fancytree-expander {
	display: none;
}

/* Form elements */

label {
	float: left;
	width: 150px;
}

input {
	width: 400px;
}

input.datepicker, input.timepicker {
	width: 75px;
}

input[disabled="disabled"] {
	background-color: #d8d8d8;
	color: #909090;
}

input[type="checkbox"], input[type="radio"] {
	width: auto;
}

input[type="datetime-local"] {
	width: 220px;
}

form div {
	margin-top: 6px;
	clear: both;
}

/* Compoundable styles */

.pass {
	color: green;
}

.fail {
	color: red;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.inline {
	display: inline-block;
}

.hide {
	display: none;
}

.spacer10 {
	margin-top: 10px;
}

.spacer20 {
	margin-top: 20px;
}

.left-margin10 {
	margin-left: 10px;
}

.left-margin20 {
	margin-left: 20px;
}

.top-align {
	vertical-align: top;
}

.underline {
	text-decoration: underline;
}

.red {
	color: red;
}

.green {
	color: green;
}

#login .heading {
	font-weight: bold;
	text-align: left;
}

#login label {
	width: 100px;
}

#login input {
	width: 150px;
}

#login td {
	padding: 0px 10px;
}

#login th {
	padding: 0px 10px;
	font-weight: bold;
	text-align: left;
}

#login .button {
	margin-left: 130px;
	width: 100px;
}

#site-selector {
	margin-left: 50px;
}

/* Link tab: to identify link targets  */

#linknav {
		margin-left: 100px;
}

#addlinkdiv {
	float: left;
	visibility: hidden;
}

#addlinkdiv input {
	width: 60px;
}

#addlinkdiv label {
	width: 100px;
}

#savelinks-button {
/* 	visibility: hidden; */
	color: green;
	float: right;
}

#link-confirm {
	visibility: hidden;
}

.remove-link {
	position: relative;
	bottom: 5px;
	color: red;
}

#sortable-links { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%; 
}

#sortable-links li { 
	margin: 0 3px 3px 3px; 
	padding: 0.4em; 
	padding-left: 1.5em; 
/* 	font-size: 1.4em;  */
	height: 16px; 
}

#sortable-links li span { 
	position: absolute; 
	margin-left: -1.3em; 
}

/* Main page elements  */

#item-editor {
	float:left;
	margin-left: 10px;
	min-width: 640px;
}

#item-editor button {
	cursor: pointer;
}

#leftnav {
	float:left;
	width: 300px;
}

#main-wrapper {
	position: relative;
}

#footer-wrapper {
	clear: both;
}

h1.main-heading {
	margin-bottom: 6px;
}

p.main-heading {
	margin-top: 0px;
}

#status-block {
	margin-left: 3em;
	font-size: 1.3em;
	/*font-weight: bold;*/
	text-decoration: underline;
}

/* tooltips */
.ui-tooltip,.arrow:after {
	background: black;
	border: 2px solid white;
}

.ui-tooltip {
/* 	padding: 10px 20px; Can't see what this does */
	color: white;
	border-radius: 20px;
	font: bold 14px "Helvetica Neue", Sans-Serif;
	box-shadow: 0 0 7px black;
}

.ui-tooltip-content {
	background-color: rgba(92, 184, 230, 0.5);
	padding: 1em;
}

.arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}

.arrow.top {
	top: -16px;
	bottom: auto;
}

.arrow.left {
	left: 20%;
}

.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.arrow.top:after {
	bottom: -20px;
	top: auto;
}

#item-editor button {
	background: #6eac2c;
	border: 1px solid #acdd4a;
	border-radius: 6px;
	color: #fff;
	padding: 6px;
	margin-top: 1.5em;
}

#item-editor button.disabled {
	background: #ccc;
}

#item-editor #trash-button {
	background: red;
	float: right;
}

#version-tab button {
	margin-bottom: 1.5em;
}

#trash-table {
	margin-top: 1em;
	width: 100%;
}

#trash-table input[type=radio] {
	float: left;
	margin-left: 2em;
}

#trash-action {
	margin-top: 1em;
}

#trash-action .radio-set {
	margin-top: 2em;
	margin-left: 2em;
	float: left;
}

#trash-action input {
	float: left;
}

#trash-empty-button {
	width: 20%;
	float: left;
}

#trash-restore-button {
	width: 20%;
	float: right;
}

#trash-action .radio-set-container {
	width: 40%;
	margin: auto;
}

#core-commerce {
	display: none;
}
