/* Header */

#header-wrapper {
	box-shadow: inset 0px 10px 80px 0px rgba(0,0,0,0.2);
	height: 142px;
	position: relative;
}
	
#header {
  background: url('images/header.png');
	background-size: 100% 190px;
	height: 190px;
	text-shadow: -1px -1px 1px rgba(0,0,0,1);
	color: #fff;
  cursor: default;
	line-height: 3.25em;
	width: 100%;
	z-index: 10000;
	
	@include nav-transition {
		text-shadow: none;
	}

	/* Left side of header, containing company logo */
	div.left {
		width: 350px;
		float: left;
		@include extra-small-only {
			width: 250px;
		}
	}

	/* Right side of header, containing primary nav */
	div.right {
		width: auto;
		float: right;
	}

	h1 {
		color: #fff;
		height: inherit;
		/*left: 1.25em;*/
		line-height: inherit;
		margin-top: 0.5em;
		@include std-container-padding{}
		font-size: 2em;
	}
	
	/* This governs the primary nav in desktop mode */
	.nav {
		height: inherit;
		line-height: inherit;
		@include std-container-padding{}
		vertical-align: middle;
		margin-top: 1em;
		font-size: 1.1em;

		> ul {
			list-style: none;
			margin: 0;
			padding-left: 0;

			> li {
				border-radius: $size-border-radius;
				display: inline-block;
				margin-left: 1em;
				padding-left: 0;

				a {
					@include vendor-property('transition', 'color #{$duration-transition} ease-in-out');
					color: #ccc;
					display: inline-block;
					text-decoration: none;

					&:hover {
						color: #fff;
					}
				}
						
				&.selected {
						background: url('images/nav-arrow-down-small.png') center top no-repeat;
						
						a {
							font-weight: bold;
							color: #fff;
						}
				}
				
				@include nav-transition {
					a {
						color: #333;
						&:hover {
							color: #666;
						}
					}
				}
				
				.button {
					height: 2.25em;
					line-height: 2.25em;
					margin-bottom: 0;
					padding: 0 1em;
					position: relative;
					top: -0.075em;
					vertical-align: middle;
				}
			}
		}
	}
}

/* Banner */

#banner {
	background: #f6f6f6;
	padding: 8em 0;
	text-align: center;

	:last-child {
		margin-bottom: 0;
	}

	h2 {
		font-size: 4em;
		line-height: 1em;
		margin: 0 0 0.5em 0;
		padding: 0;
	}

	p {
		font-size: 1.5em;
		margin-bottom: 1.75em;
	}
	
	@include extra-small-only {
		padding: 5em 2em 4em 2em;
	}
}
	
/* To avoid changing the size of the company logo, shorten it for small devices */
@include above-extra-small {
	h1 > a {		
		&:after {
				content: "solutions";
		}
	}
}

#tiny-nav {
	display: none;
	
	@include nav-transition {	
		display: block;
		cursor: pointer;
		padding: 10px;
		/*background: #cccccc;*/
		position: absolute;
		right: 10px;
		top: -3px;
	}
}

/* Additional rules for the primary nav. See also '#header .nav' above */
#primary-nav {
	float: right;
	
	@include nav-transition {	
		display: none;
	}	
		
	&.data-toggle-on {
		@include vendor-property("box-shadow", "5px 5px 2px grey");
		border: 1px;
		background: #ccc;
		position: absolute;
		top: 45px;
		right: 20px;
		width: 130px;
		display: block;
		float: none;
		padding-top: 5px;
		line-height: 2em;
		z-index: 1;
	}
}


