header {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-areas: 
		"hl hl hl hl hl hl hl hr";
		
	@include std-container-padding{}
  background-color: #e4ddd0;
  
  p {
		grid-area: hr;
		padding-top: 0.5em;
		margin-top: 16px;
  }
}

#site-identifier {
	padding-top: 0.5em;
	grid-area: hl;
}

@media (min-width: 800px) {
}
