@import url(./base/component.css);

div.nblock {
	display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 0.75em 0 1.5em 0;
  justify-items: center;
  padding: 1em 1em 0 1em;
  border: 1px solid #ccc;
}

div.twoblock {
  grid-template-columns: 50% 50%;
}

div.threeblock.photo-strip img {
	object-fit: contain;
}
