div.threeblock.photo-strip img {
	height: 200px;
	display: inline-block;
}

div.nblock caption {
	font-size: 0.9em;
}


div.nblock > div.ximg, div.nblock p {
	margin: 0 0.5em 0 0.5em;
}

div.nblock {
	display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 0.75em 0 1.5em 0;
  justify-items: center;
  padding: 1em 0 0 1em;
  border: 1px solid #ccc;
}

div.twoblock {
  grid-template-columns: 50% 50%;
}

div.ximg > figure {
	margin: 0 1.0em 0 0;
	float: left;
}

div.ximg > figure.right {
	margin: 0 0 0 1.0em;
	float: right;
}

div.ximg.border {
	border: 2px solid grey;
}



/*          view = pdf          */
/* ---------------------------- */

div.main.pdf div.nblock {
	display: block;
	margin: 0;
	padding: 0;
}

div.main.pdf div.nblock table {
	margin: 0;
}

div.main.pdf div.nblock td {
	text-align: center;
}

div.main.pdf div.threeblock td {
	width: 33%;
}

div.main.pdf div.twoblock td {
	width: 50%;
}

div.main.pdf div.ximg > figure,
div.main.pdf div.ximg > figure.right {
    float: none;
}

