div.layout-std {
  padding: 1em;
}

div.standard-3col div.leftside, div.standard-3col div.rightside {
	padding: 0.5em;
}

div.standard-3col div.leftside div.in-this-section,
div.standard-3col div.leftside div.related-items,
div.standard-3col div.rightside div.sidebar {
	background-color: #eee;
	min-height: 200px;
	padding: 0.5em;
	border: 1px solid #d5d1d1;
}

div.standard-3col div.leftside div.related-items {
	margin-top: 2em;
	background-color: #d1d9f0;
	border: 1px solid #91aeff;
}

div.sidebar-wrapper {
	padding-left: 0.5em;
}

div.in-this-section,  div.related-items, div.sidebar {
	min-width: 124px;
}

div.in-this-section > div,  div.related-items > div, div.sidebar > div {
	padding: 0.4em 0 0.4em 0;
	line-height: 1.0em;
}

div.in-this-section a,  div.related-items a, div.sidebar a {
	text-decoration: none;
	font-size: 0.95em;
}

div.in-this-section a:hover,  div.related-items a:hover, div.sidebar a:hover {
	text-decoration: underline;
}

div.in-this-section div.selected {
	background-color: #c8d9b1;
}

div.in-this-section div.selected-child {
	background-color: #81b9ca;
	padding: 0.4em 0 0.4em 1.0em;
}


div.layout-std {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "hdr" "main" "ftr";
}

div.standard-3col {
  display: grid;
  grid-template-columns: 20% 80%;
}

div.standard-3col div.leftside {
	grid-column: 1;
}


div.standard-3col div.rightside {
	display: flex;
	grid-column: 2;
	justify-content: space-between;
}

div.standard-3col div.rightside > div.mainbody.full-width {
	flex-basis: 100%;
}

div.standard-3col div.rightside > div.mainbody.nearly-full-width {
	flex-basis: 85%;
}

div.standard-3col div.leftside, div.standard-3col div.rightside {
	padding: 0.5em;
}

div.mainbody li {
	margin-bottom: 1em;
}
