body, input, select, textarea {
  color: #292929;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.65em;
}

body {
  max-width: 1170px;
  /* This centres the page horizontally */
  margin: auto;
}

a {
  color: #24604e;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
a i.fa {
  color: #2788b2;
}

strong, b {
  color: #666;
  font-weight: bold;
}

em, i {
  font-style: italic;
}

p {
  margin: 0 0 1.2em 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #666;
  font-weight: bold;
  line-height: 1em;
  margin: 0 0 0.25em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin-top: 10px;
  margin-bottom: 0.5em;
  display: inline-block;
}

h2 {
  margin-top: 0.5em;
  font-size: 1.75em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.35em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.1em;
  line-height: 1.5em;
}

h5 {
  font-size: 0.9em;
  line-height: 1.5em;
}

h6 {
  font-size: 0.7em;
  line-height: 1.5em;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

hr {
  border: 0;
  border-bottom: solid 1px #909090;
  margin: 2em 0;
}

hr.major {
  margin: 3em 0;
}

blockquote {
  border-left: solid 4px #909090;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em;
}

code {
  background: #c2c2c2;
  border-radius: 4px;
  border: solid 1px #909090;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

table {
  margin: 0 0 2em 0;
  width: 100%;
}

table tbody tr {
  border: solid 1px #909090;
  border-left: 0;
  border-right: 0;
}

table tbody tr:nth-child(2n + 1) {
  background-color: #eee;
}

table td {
  padding: 0.3em;
  vertical-align: middle;
}

table th {
  color: #666;
  font-weight: bold;
  padding: 0.5em;
  text-align: left;
  width: 25%;
  background-color: #ECC874;
}

table thead {
  border-bottom: solid 2px #909090;
}

table tfoot {
  border-top: solid 2px #909090;
}

/* Footer */
#footer-wrapper {
  padding: 1em 0;
/*   box-shadow: inset 0px 10px 60px 0px #909090; */
}

#copyright {
  text-align: center;
  line-height: 1.5em;
  font-size: 0.9em;
  color: #808080;
}

/* List */
ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em;
}

ol li {
  padding-left: 0.25em;
}

ul {
  list-style: disc;
  margin: 0 0 1.22em 0;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

ul.alt {
  list-style: none;
  padding-left: 0;
}

ul.alt li {
  border-top: solid 1px #909090;
  padding: 0.5em 0;
}

ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}


dl {
  margin: 0 0 2em 0;
}

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: device-width;
  }
}

@media only screen and (max-width: 25.9375em) {
  body {
    min-width: 320px;
  }
}

@media only screen and (max-width: 25.9375em) {
  body, input, select, textarea {
    font-size: 12pt;
  }
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0 2em 0;
}

pre code {
  display: block;
  line-height: 1.75em;
  padding: 1em 1.5em;
  overflow-x: auto;
}

::-webkit-input-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}

:-moz-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}

::-moz-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}

:-ms-input-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}

.formerize-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}

/* Table */
.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}
