@import url(./base/main.css);

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: device-width;
  }
}

@media only screen and (max-width: 25.9375em) {
  body {
    min-width: 320px;
  }
}

@media only screen and (max-width: 25.9375em) {
  body, input, select, textarea {
    font-size: 12pt;
  }
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0 2em 0;
}

pre code {
  display: block;
  line-height: 1.75em;
  padding: 1em 1.5em;
  overflow-x: auto;
}

::-webkit-input-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}

:-moz-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}

::-moz-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}

:-ms-input-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}

.formerize-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}

/* Table */
.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}
