/***************************
****************************
Layout Styles
****************************
***************************/
/* Change all elements to use border-box */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Content Container*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
}

.primary-col {
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (max-width: 47.9375em) {
  .primary-col {
    margin-bottom: 4em;
  }
}

.anchor {
  position: relative;
}

@media (min-width: 48em) {
  .pull-right-sm {
    float: right;
  }
  .hide-sm {
    display: none;
  }
}
@media only screen and (max-width: 47.9375em) {
  .remove-gutter-xs {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (max-width: 25.9375em) {
  body {
    min-width: 320px;
  }
}

body, input, select, textarea {
  color: #292929;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.65em;
}
@media only screen and (max-width: 25.9375em) {
  body, input, select, textarea {
    font-size: 12pt;
  }
}

a {
  color: #24604e;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
a i.fa {
  color: #2788b2;
}

strong, b {
  color: #666;
  font-weight: bold;
}

em, i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #666;
  font-weight: bold;
  line-height: 1em;
  margin: 0 0 1em 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1.75em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.35em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.1em;
  line-height: 1.5em;
}

h5 {
  font-size: 0.9em;
  line-height: 1.5em;
}

h6 {
  font-size: 0.7em;
  line-height: 1.5em;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

hr {
  border: 0;
  border-bottom: solid 1px rgba(144, 144, 144, 0.25);
  margin: 2em 0;
}
hr.major {
  margin: 3em 0;
}

blockquote {
  border-left: solid 4px rgba(144, 144, 144, 0.25);
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em;
}

code {
  background: rgba(144, 144, 144, 0.075);
  border-radius: 4px;
  border: solid 1px rgba(144, 144, 144, 0.25);
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0 2em 0;
}
pre code {
  display: block;
  line-height: 1.75em;
  padding: 1em 1.5em;
  overflow-x: auto;
}

header {
  background-color: #ffddb3;
  line-height: 1em;
}
header p {
  color: #bbb;
  position: relative;
  margin: 0 0 1.5em 0;
}
header h2 + p {
  font-size: 1.25em;
  margin-top: -1em;
  line-height: 1.5em;
}
header h3 + p {
  font-size: 1.1em;
  margin-top: -0.8em;
  line-height: 1.5em;
}
header h4 + p,
header h5 + p,
header h6 + p {
  font-size: 0.9em;
  margin-top: -0.6em;
  line-height: 1.5em;
}

form {
  margin: 0 0 2em 0;
}

label {
  color: #666;
  display: block;
  /*font-size: 0.9em;*/
  font-weight: bold;
  /*margin: 0 0 (vars.$size-element-margin * 0.5) 0;*/
}

input[type=text],
input[type=password],
input[type=email],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(144, 144, 144, 0.075);
  border-radius: 4px;
  border: none;
  border: solid 1px rgba(144, 144, 144, 0.25);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}
input[type=text]:invalid,
input[type=password]:invalid,
input[type=email]:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
select:focus,
textarea:focus {
  border-color: #24604e;
  box-shadow: 0 0 0 1px #24604e;
}

input[type=text],
input[type=password],
input[type=email],
select {
  height: 2em;
}
input[type=text].inline,
input[type=password].inline,
input[type=email].inline,
select.inline {
  display: inline-block;
  width: 90%;
}

textarea {
  padding: 0.75em 1em;
}

input[type=checkbox],
input[type=radio] {
  /*@include vendor-property('appearance', 'none');
  display: block;
  float: left;
  margin-right: -2em;*/
  opacity: 1;
  width: 1em;
  z-index: -1;
}

::-webkit-input-placeholder {
  color: #bbb !important;
  opacity: 1;
}

:-moz-placeholder {
  color: #bbb !important;
  opacity: 1;
}

::-moz-placeholder {
  color: #bbb !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #bbb !important;
  opacity: 1;
}

.formerize-placeholder {
  color: #bbb !important;
  opacity: 1;
}

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}
.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.icon > .label {
  display: none;
}

.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative;
}
.image img {
  border-radius: 4px;
  display: block;
}
.image.left {
  float: left;
  padding: 0 1.5em 1em 0;
  top: 0.25em;
}
.image.right {
  float: right;
  padding: 0 0 1em 1.5em;
  top: 0.25em;
}
.image.left, .image.right {
  max-width: 40%;
}
.image.left img, .image.right img {
  width: 100%;
}
.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}
.image.fit img {
  width: 100%;
}

/* Table */
.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

table {
  margin: 0 0 2em 0;
  width: 100%;
}
table tbody tr {
  border: solid 1px rgba(144, 144, 144, 0.25);
  border-left: 0;
  border-right: 0;
}
table tbody tr:nth-child(2n+1) {
  background-color: rgba(144, 144, 144, 0.2);
}
table tbody tr.highlighted {
  background-color: yellow;
}
table td {
  padding: 0.3em;
  vertical-align: top;
}
table td.menu-icon {
  width: 1.5em;
}
table th {
  color: #666;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0 0.75em 0 0.75em;
  text-align: left;
  /*width: 25%;*/
}
table thead {
  border-bottom: solid 2px rgba(144, 144, 144, 0.25);
  background-color: #afdfdf;
}
table tfoot {
  border-top: solid 2px rgba(144, 144, 144, 0.25);
}
table.alt {
  border-collapse: separate;
}
table.alt tbody tr td {
  border: solid 1px rgba(144, 144, 144, 0.25);
  border-left-width: 0;
  border-top-width: 0;
}
table.alt tbody tr td:first-child {
  border-left-width: 1px;
}
table.alt tbody tr:first-child td {
  border-top-width: 1px;
}
table.alt thead {
  border-bottom: 0;
}
table.alt tfoot {
  border-top: 0;
}

/* Button */
input[type=submit],
input[type=reset],
input[type=button],
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #666666;
  border-radius: 4px;
  border: 0;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 2.85em;
  line-height: 2.95em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
.button:hover {
  background-color: rgb(114.75, 114.75, 114.75);
}
input[type=submit]:active,
input[type=reset]:active,
input[type=button]:active,
.button:active {
  background-color: rgb(89.25, 89.25, 89.25);
}
input[type=submit].spacer,
input[type=reset].spacer,
input[type=button].spacer,
.button.spacer {
  margin-top: 2em;
}
input[type=submit].icon,
input[type=reset].icon,
input[type=button].icon,
.button.icon {
  padding-left: 1.35em;
}
input[type=submit].icon:before,
input[type=reset].icon:before,
input[type=button].icon:before,
.button.icon:before {
  margin-right: 0.5em;
}
input[type=submit].fit,
input[type=reset].fit,
input[type=button].fit,
.button.fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}
input[type=submit].small,
input[type=reset].small,
input[type=button].small,
.button.small {
  font-size: 0.8em;
}
input[type=submit].big,
input[type=reset].big,
input[type=button].big,
.button.big {
  font-size: 1.35em;
}
input[type=submit].alt,
input[type=reset].alt,
input[type=button].alt,
.button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
  color: #666 !important;
}
input[type=submit].alt:hover,
input[type=reset].alt:hover,
input[type=button].alt:hover,
.button.alt:hover {
  background-color: rgba(144, 144, 144, 0.075);
}
input[type=submit].alt:active,
input[type=reset].alt:active,
input[type=button].alt:active,
.button.alt:active {
  background-color: rgba(144, 144, 144, 0.2);
}
input[type=submit].alt.icon:before,
input[type=reset].alt.icon:before,
input[type=button].alt.icon:before,
.button.alt.icon:before {
  color: #bbb;
}
@media only screen and (max-width: 25.9375em) {
  input[type=submit].alt,
  input[type=reset].alt,
  input[type=button].alt,
  .button.alt {
    padding: 0;
  }
}
input[type=submit].special,
input[type=reset].special,
input[type=button].special,
.button.special {
  /*background-color: vars.$color-accent-bg;*/
  background-color: #2788b2;
  color: #ffffff !important;
}
input[type=submit].special:hover,
input[type=reset].special:hover,
input[type=button].special:hover,
.button.special:hover {
  background-color: rgb(56.4930875576, 164.668202765, 211.5069124424);
}
input[type=submit].special:active,
input[type=reset].special:active,
input[type=button].special:active,
.button.special:active {
  background-color: rgb(22.0909090909, 58.9090909091, 47.8636363636);
}
input[type=submit].disabled, input[type=submit]:disabled,
input[type=reset].disabled,
input[type=reset]:disabled,
input[type=button].disabled,
input[type=button]:disabled,
.button.disabled,
.button:disabled {
  /* 			background-color: vars.$color-fg !important; */
  box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
  /* 			color: vars.$color-bg !important; */
  cursor: default;
  opacity: 0.25;
}

/* Main */
#main-wrapper {
  background: #fff;
  padding: 1em 0;
}

#main .container {
  padding: 40px 0px;
}

#header-wrapper {
  padding-left: 0em;
  padding-right: 0em;
}

#footer-wrapper {
  padding: 1em 0;
  box-shadow: inset 0px 10px 60px 0px rgba(0, 0, 0, 0.15);
}

#copyright {
  text-align: center;
  line-height: 1.5em;
  font-size: 0.9em;
  color: #808080;
}

div.dashboard-group {
  margin-bottom: 1em;
  border: 1px solid black;
}
div.dashboard-group.current {
  background-color: #fdffdb;
}
div.dashboard-group.savings {
  background-color: #e3fafc;
}
div.dashboard-group.credit {
  background-color: #ffe8e8;
}
div.dashboard-group.pension {
  background-color: #e0ffe7;
}
div.dashboard-group.summary {
  background-color: #fff3e8;
}
div.dashboard-group table {
  margin-bottom: 0;
}
div.dashboard-group table td.amount, div.dashboard-group table td.type {
  width: 10%;
}
div.dashboard-group table h3 {
  margin-bottom: 0;
}

#trn-form tr td:first-child {
  width: 130px;
}
#trn-form tr input[name=amount] {
  width: 130px;
}

.pager {
  margin-right: 1em;
}
.pager.selected {
  font-size: 1.5em;
  font-weight: bold;
}
.pager.arrow {
  font-size: 0.8em;
}
.pager.arrow.left {
  margin-right: 2em;
}
.pager.arrow.right {
  margin-left: 2em;
}

#account-selector {
  width: 20em;
  font-size: 1.5em;
  font-weight: bold;
}

.scale_3-2 {
  font-size: 1.5em;
}

.inline-block {
  display: inline-block;
}

.currency {
  font-family: "Courier New", Courier, monospace;
  text-align: right;
}

#menu-action-dialog, #user-menu {
  width: 200px;
  background-color: #ccc;
  visibility: hidden;
  -moz-box-shadow: 5px 5px 2px grey;
  -webkit-box-shadow: 5px 5px 2px grey;
  -o-box-shadow: 5px 5px 2px grey;
  -ms-box-shadow: 5px 5px 2px grey;
  box-shadow: 5px 5px 2px grey;
  display: block;
  float: none;
  z-index: 1;
}
#menu-action-dialog ul, #user-menu ul {
  list-style: none;
}
#menu-action-dialog .menu-close, #user-menu .menu-close {
  float: right;
  margin-right: 5px;
}

#user-menu {
  width: 150px;
}
#user-menu ul {
  margin-left: -20px;
}

#user-welcome {
  cursor: pointer;
  margin-right: 0.5em;
  margin-top: 1em;
}

#navigation {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  padding-left: 0.5em;
}
#navigation li {
  display: inline-block;
  margin-right: 2em;
}

header {
  line-height: 2em;
}

#year-selector {
  width: 6em;
  margin-right: 2em;
}

div.flash {
  background-color: lightgrey;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.5em;
}
div.flash.success {
  color: green;
}
div.flash.failure {
  color: red;
}

#delete-button {
  background-color: red;
}

#cancel-button {
  background-color: #54937f;
}

.opaque50 {
  opacity: 0.5;
}

.radio-horiz {
  margin-right: 3em;
}

#multi-category-groupings .width15, #year-ranges .width15, #transaction-form .width15 {
  width: 15%;
}
#multi-category-groupings .width20, #year-ranges .width20, #transaction-form .width20 {
  width: 20%;
}
#multi-category-groupings .width25, #year-ranges .width25, #transaction-form .width25 {
  width: 25%;
}
#multi-category-groupings .width50, #year-ranges .width50, #transaction-form .width50 {
  width: 50%;
}

form#transaction-form #payee, form#transaction-form #major, form#transaction-form #minor, form#transaction-form #memo, form#advanced-search-form #payee, form#advanced-search-form #major, form#advanced-search-form #minor, form#advanced-search-form #memo, form#schedule-form #payee, form#schedule-form #major, form#schedule-form #minor, form#schedule-form #memo {
  width: 95%;
  display: inline;
}
form#transaction-form #amount, form#advanced-search-form #amount, form#schedule-form #amount {
  width: 15%;
  display: inline;
  margin-right: 0.5em;
}
form#transaction-form i.fa-eraser, form#advanced-search-form i.fa-eraser, form#schedule-form i.fa-eraser {
  color: #666;
}

.trash-category-cell {
  vertical-align: bottom;
}

button#add-category-button, button#add-group-button {
  margin: 2em 0 2em 0;
}

input[type=submit] {
  margin-top: 1em;
}

span.debit-amount {
  color: red;
}
span .fa-info-circle {
  color: #645e55;
}

tr.category-list div.hidden, tr.category-list span.hidden, tr.category-params div.hidden, tr.category-params span.hidden {
  display: none;
}
tr.category-list div.invisible, tr.category-list span.invisible, tr.category-params div.invisible, tr.category-params span.invisible {
  visibility: hidden;
}
tr.category-list .arrow, tr.category-params .arrow {
  width: 3%;
  display: inline-block;
}
tr.category-list .category, tr.category-list .sub-category, tr.category-params .category, tr.category-params .sub-category {
  width: 20%;
  display: inline-block;
}
tr.category-list .category.wider, tr.category-list .sub-category.wider, tr.category-params .category.wider, tr.category-params .sub-category.wider {
  width: 30%;
}
tr.category-list .memo, tr.category-params .memo {
  width: 30%;
  display: inline-block;
}
tr.category-list .amount, tr.category-params .amount {
  width: 12%;
  display: inline-block;
}
tr.category-list .logic, tr.category-params .logic {
  width: 15%;
  display: inline-block;
}

tr.category-list.invisible {
  display: none;
}

div.category-list-heading {
  color: #24604e;
}

div.chart-form-buttons {
  margin-top: 2em;
}

tr.form-submission-options td {
  background-color: #bce1d6;
}
tr.form-submission-options td span.radio-option {
  margin-right: 3em;
}

div.std-form-buttons, div.cautious-form-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
div.std-form-buttons input[type=submit], div.cautious-form-buttons input[type=submit] {
  margin-top: 0;
}
div.std-form-buttons div.right input, div.cautious-form-buttons div.right input {
  float: right;
}

div.page-heading {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1em;
}
div.page-heading h2 {
  margin-bottom: 0.5em;
}
div.page-heading div.flash {
  font-weight: bold;
  font-size: 1.2em;
}
div.page-heading div.menu {
  display: grid;
  justify-items: right;
}
div.page-heading div.menu ul {
  list-style: none;
  margin-top: 0;
}

span.spacer2 {
  display: inline-block;
  width: 2em;
}

form#category-form tr td.extra {
  width: 40%;
}

@media only screen and (max-width: 52em) {
  body, input, select, textarea {
    font-size: 15px;
  }
  td.memo, td.balance, th.memo, th.balance {
    display: none;
  }
  #account-selector {
    width: 90%;
  }
  ul#navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  span.radio-horiz {
    display: block;
  }
  div.std-form-buttons, div.cautious-form-buttons {
    display: block;
  }
  div.std-form-buttons input, div.cautious-form-buttons input {
    display: block;
    margin-bottom: 0.5em;
  }
  div.std-form-buttons input#delete-button, div.cautious-form-buttons input#delete-button {
    margin-top: 2em;
    color: red;
  }
  div.std-form-buttons div.right input, div.cautious-form-buttons div.right input {
    float: none;
  }
  form#transaction-form #payee, form#transaction-form #major, form#transaction-form #minor, form#transaction-form #memo, form#advanced-search-form #payee, form#advanced-search-form #major, form#advanced-search-form #minor, form#advanced-search-form #memo, form#schedule-form #payee, form#schedule-form #major, form#schedule-form #minor, form#schedule-form #memo {
    width: 92%;
  }
  form#transaction-form #amount, form#advanced-search-form #amount, form#schedule-form #amount {
    width: 25%;
  }
}

/*# sourceMappingURL=money.css.map */
