@import url(../component-base,css);

div.main.pdf div.nblock {
	display: block;
	margin: 0;
	padding: 0;
}

div.main.pdf div.nblock table {
	margin: 0;
}

div.main.pdf div.nblock td {
	text-align: center;
}

div.main.pdf div.threeblock td {
	width: 33%;
}

div.main.pdf div.twoblock td {
	width: 50%;
}
