div.main.pdf {
	font-size: 12px;
}

div.main.pdf h2 {
  text-align: left;
}

div.main.pdf div.accordion {
	border: 2px grey solid;
	padding: 2em;
}

div.main.pdf span.top-pdf-title {
	font-size: 0.7em;
	color: #a6a6a6;
}
