.compact {
	font-size: 0.8em;
}

.compact-2 {
	font-size: 0.7em;
	line-height: 1.2em;
}

.italic {
	font-style: italic;
}

.two-col-table .heading {
	font-weight: bold;
	text-align: left;
}

.two-col-table td {
	padding: 0px 10px;
}

.two-col-table th {
	padding: 0px 10px;
	font-weight: bold;
	text-align: left;
}

.two-col-table td.buttons {
	padding-top: 2em;
}

#pizza-options-table tr:first-child td {
	padding-left: 2em;
	padding-right: 2em;
	border-style: solid;
	border-left-width: 2px;
	border-right-width: 2px;
	border-color: #cccccc;
}

#pizza-order-table th {
	font-weight: bold;
	text-align: left;
}

#pizza-order-table th, #pizza-order-table td {
	padding-left: 1em;
	padding-right: 1em;
	border-style: solid;
	border-left-width: 2px;
	border-right-width: 2px;
	border-color: #cccccc;
}

#pizza-order-table tr:last-child td {
	border-style: none;
}

#pizza-order-table td.buttons {
	padding-top: 2em;
}

.user-table td {
	border: 2px solid #cccccc;
}

.user-table img {
	vertical-align: text-bottom;
}

.form-error {
	color: red;
	border-style: solid;
	border-width: 2px;
	margin-bottom: 12px;
	padding: 5px;
}

.form-field-error {
	color: red;
	border-style: solid;
	border-width: 1px;
	padding-left: 5px;
	padding-right: 5px;
}

.flash-msg {
	border-style: solid;
	border-width: 2px;
	margin-left: 20px;
	margin-bottom: 12px;
	padding: 2px;
	line-height: 1.4em;
}

.red {
	color: red;
}

.green {
	color: green;
}

.orange {
	color: orange;
}

.flow-ltr {
	float:left;
}

.width-50pc {
	width: 50%;
}

.img-caption {
	font-size: 0.8em;
	font-style: italic;
}

.embolden {
	font-weight: bold;
}

.margin-left-small {
	margin-left: 50px;
}


.margin-left-medium {
	margin-left: 100px;
}

.tight-lines-1 {
	line-height: 1.2em;
}

.tight-lines-2 {
	line-height: 1.3em;
}

.tight-lines-3 {
	line-height: 1.5em;
}

.clear {
	clear: both;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	border-top: solid 1px #d0d0d0;
}

ul.bullets {
	list-style-type: circle; 
	margin-left: 30px;
}

.inline {
	display: inline-block;
	vertical-align: bottom;
}

#weather-report {
	font-size: 0.8em;
	line-height: 1.2em;
}

#weather-report td {
	padding: 3px;
}

#weather-report td:first-child {
	font-weight: bold;
}

.slepe-photo {
	width: 100%;
}

.short-profile-left {
	width: 80%;
	display: inline-block;
	vertical-align: top;
}

.short-profile-right {
	width: 15%;
	margin-left: 4%;
	display: inline-block;
	vertical-align: top;
}

.project-list {
	font-weight: bold;
	margin-left: 5%;
/* 	display: inline-block; */
/* 	width: 40%; */
}

.user-info {
	float: right;
	font-size: 0.64em;
	color: #c0c0c0;
	line-height: 1.4em;
	margin: 5px;
}

ul.level-1 {
	margin-left: 2em;
	font-size: 0.8em;
	border-top: none;
}

li.selected {
	font-weight: bold;
}

li.unselected {
	font-weight: normal;
}

#delete-user-alert {
	padding: 10px; 
	background: #fff;
}

#delete-user-alert button {
	margin-top: 1em;
}

#skills-table th, #skills-table td {
	border: 1px solid black;
	padding: 3px;
}

#skills-table td.heading {
	width: 20%;
	font-weight: bold;
}
