@media screen and (max-width:400px) {
  @-ms-viewport{
    width: device-width;
  }
}

body {
  max-width: $max-page-width;
  /* This centres the page horizontally */
  margin: auto;
}

header {
	grid-area: hdr;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas: 
		"ha ha ha hb"
		"hc hc hc hc"
		"br br br br";
		
	@include std-container-padding{}
  background-color: #e4ddd0;
  
  /*
  background-image: url("../header.jpg");
  background-position: center;
  
  h1 {
  	background-color: white;
  	padding: 5px;
  }
  */
}

footer {
	grid-area: ftr;
	text-align: center;
	font-size: 0.85em;
	opacity: 0.6;
	line-height: 1.3em;
	@include std-container-padding{}
}

div.welcome {
	font-size: 0.9em;
	margin-top: -0.5em;
	margin-bottom: -1.0em;
	margin-right: 0.5em;
	display: inline-block;
}

.main {
	grid-area: main;
	@include std-container-padding{}
}

.leftside {
	grid-area: side;
	@include std-container-padding{}
}

#breadcrumbs {
	grid-area: br;
}

.menu {
	font-size: 1.1em;		display: grid;
		grid-gap: 6px;
	
	grid-area: menu;
	padding: $std-container-padding;
	padding-bottom: 0;
}

.submenu {
	margin: 0 0 1em 0;
	list-style-type: none;
}

.layout-std, .layout-wide {
	display: grid;
  grid-template-columns: 1fr;
	grid-template-areas: 
		"hdr"
		"main"
		"ftr";
}

.layout-person {
	display: grid;
  grid-template-columns: 1fr;
	grid-template-areas: 
		"hdr"
		"side"
		"menu"
		"main"
		"ftr";
}

.layout-leftmenu {
	display: grid;
  grid-template-columns: 1fr;
	grid-template-areas: 
		"hdr"
		"menu"
		"side"
		"main"
		"ftr";
}

#site-identifier {
	grid-area: ha;
}

#language-selector {
	padding-top: 1.0em;
	grid-area: hb;
	justify-self: end;
	
	img {
		width: 30px;
		padding-bottom: 5px;
		vertical-align: top;
		
		&.selected {
			border-bottom: solid 2px #666;
		}
	}
}

#search-bar {
	grid-area: hc;
	margin: 0;
	
	input {
		display: inline-block;
		width: 65%;
		max-width: 160px;
	}
}

#breadcrumbs {
	padding-top: 0.5em;
}
	
#person-svg, #diagram-svg {
	@include std-container-padding{}
}

#diagram-svg {
	background-color: #e1eaef;
}

#get-full-diagram {
	cursor: pointer;
}

div.image-gallery {
	display: grid;
	grid-gap: 6px;
}

.hide {
	display: none;
}	

h3.emphasis {
/* 	border-bottom: 2px solid $color-accent-bg; */
	text-decoration: underline;
}

details {
	font-size: 0.9em;
}

@media (min-width: 480px) {
	div.image-gallery {
			grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 800px) {
	header {
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas: 
			"ha hb hc"
			"br br br";
	}
	
	#language-selector {
		justify-self: center;	
	}
	
	#search-bar {
		padding-top: 1.0em;
		justify-self: end;
	}
	
	.layout-std {
		grid-template-columns: repeat(9, 1fr);
		grid-template-areas: 
			"hdr hdr hdr  hdr  hdr  hdr  hdr  hdr  hdr"
			".   .   main main main main main main ."
			"ftr ftr ftr  ftr  ftr  ftr  ftr  ftr  ftr";
	}
	
	.layout-person {
		grid-template-columns: repeat(9, 1fr);
		grid-template-areas: 
			"hdr  hdr  hdr  hdr  hdr  hdr  hdr  hdr  hdr"
			".    .    .    .    menu menu menu menu menu"
			"side side side side main main main main main"
			"ftr  ftr  ftr  ftr  ftr  ftr  ftr  ftr  ftr";
	}
	
	.layout-leftmenu {
		grid-template-columns: repeat(9, 1fr);
		grid-template-areas: 
			"hdr  hdr  hdr  hdr  hdr  hdr  hdr  hdr  hdr"
			".    .    menu menu menu menu menu menu menu"
			"side side main main main main main main main"
			"ftr  ftr  ftr  ftr  ftr  ftr  ftr  ftr  ftr";
	}
	
	div.image-gallery {
			grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1000px) {
	.layout-person {
		grid-template-columns: repeat(9, 1fr);
		grid-template-areas: 
			"hdr  hdr  hdr  hdr  hdr  hdr  hdr  hdr  hdr"
			".    .    .    menu menu menu menu menu menu"
			"side side side main main main main main main"
			"ftr  ftr  ftr  ftr  ftr  ftr  ftr  ftr  ftr";
	}
	
	div.image-gallery {
			grid-template-columns: repeat(4, 1fr);
	}
}

/*
.solr-page {
	display: inline;
	margin-right: 1em;
	
	&.selected {
		opacity: 0.5;
		text-decoration: underline;
	}
	
	&.heading {
		font-weight: bold;
	}
}

.thumbnail {
	&.border {
		border-style: solid;
		border-width: 1px;
		border-color: lightblue;
	}
}

td.horiz-rule {
	border-top: 2px solid lightblue;
}
*/

.fa-angle-double-right {
	color: $color-accent-bg;
}

